@{
    ViewData["Title"] = "Home Page";
}

<!-- ko foreach: modules.list-->

<div>
    <span data-bind="text: CanId"></span>/<span data-bind="text: Definition.Name"></span>
    <div class="features">
        <i class="fa fa-sign-out" data-bind="css: { 'module-feature': IsProducerNode}"></i>
        <i class="fa fa-sign-in" data-bind="css: { 'module-feature': IsConsumerNode}"></i>
        <i class="fa fa-cogs" data-bind="css: {'module-feature' : InFlimMode}"></i>
        <i class="fa fa-upload" data-bind="css: {'module-feature' : SupportsBootloader}"></i>
    </div>
</div>

<!-- /ko -->