@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Flim Config Utility</h1>
</div>

<button type="button" id="open-comms">Open Comms</button>
<button type="button" id="close-comms">Close Comms</button>
<button type="button" id="enumerate">Enumerate</button>