<div class="modal" tabindex="-1" role="dialog" id="dialog-edit-node-variables" data-backdrop="static">
    <!-- ko with: modules.currentNode -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Node Variables</h5>
            </div>
            <div class="modal-body">
                <div class="node-header">
                    <div class="node-info">
                        <span>Node Number</span>
                        <span data-bind="text: nodeNumber"></span>
                    </div>
                    <div class="node-info">
                        <span>CAN ID</span>
                        <span data-bind="text: canId"></span>
                    </div>
                    <div class="node-info">
                        <span>Version</span>
                        <span data-bind="text: version"></span>
                    </div>
                    <div class="node-info">
                        <span>Type</span>
                        <span data-bind="text: nodeType.name"></span>
                    </div>
                </div>
                
                <ul class="nav nav-tabs" role="tablist">
                    <!-- ko foreach: nodeType.configGroups -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-bind="attr:{href:'#dialog-edit-nv-tab-'+name.replace(/[^a-z]/gi, '_')}, text: name, css: {'active': $index() === 0}"></a>
                    </li>
                    <!--/ko-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#raw-nvs" data-bind="css: {'active': nodeType.configGroups.length === 0}">Raw NVs</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- ko foreach: nodeType.configGroups -->
                    <div class="tab-pane fade" data-bind="attr:{id:'dialog-edit-nv-tab-'+name.replace(/[^a-z]/gi, '_')}, css: {'show active': $index() === 0}">
                        <div class="config-group">
                            <!-- ko foreach: $parent.getValuesInGroup($data) -->
                            <div>
                                <span class="node-variable-index" data-bind="text: nv.index"></span>
                                <!-- ko template: {name: 'nodevariable-tmpl-' + definition().type, data: $data} -->
                                <!-- /ko -->

                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="tab-pane fade" id="raw-nvs" data-bind="css: {'show active': nodeType.configGroups.length === 0}">
                        <div class="config-group">
                            <!-- ko foreach: nodeVariables -->
                            <div>
                                <label>
                                    <input type="number" data-bind="number: value" min="0" max="255">
                                    <span data-bind="text: 'NV ' + index"></span>
                                </label>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: readNodeVariables">Read NVs</button>
                <button type="button" class="btn btn-secondary" data-bind="click: closeEditNodeVariables">Close</button>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>


<script type="text/html" id="nodevariable-tmpl-numeric">
    <label>
        <input type="number" data-bind="number: value" min="0" max="255">
        <span data-bind="text: definition().name"></span>
    </label>
</script>

<script type="text/html" id="nodevariable-tmpl-bitfield">
    <input type="checkbox" data-bind="bitmask: value, bit: 128" />
    <input type="checkbox" data-bind="bitmask: value, bit: 64" />
    <input type="checkbox" data-bind="bitmask: value, bit: 32" />
    <input type="checkbox" data-bind="bitmask: value, bit: 16" />
    <input type="checkbox" data-bind="bitmask: value, bit: 8" />
    <input type="checkbox" data-bind="bitmask: value, bit: 4" />
    <input type="checkbox" data-bind="bitmask: value, bit: 2" />
    <input type="checkbox" data-bind="bitmask: value, bit: 1" />
    <span data-bind="text: definition().name"></span>
</script>

<script type="text/html" id="nodevariable-tmpl-select">
    <select data-bind="value: value, options: definition().selectValues, optionsText: 'name', optionsValue: 'value'"></select>
    <span data-bind="text: definition().name"></span>
</script>

<script type="text/html" id="nodevariable-tmpl-flags">
    <!-- ko foreach: definition().flagValues -->
    <label><input type="checkbox" data-bind="bitmask: $parent.value, bit: value"><span data-bind="text: name"></span></label>
    <!-- /ko -->
    <span data-bind="text: definition().name"></span>
</script>