
<div class="card">
    <div class="card-header">
        Available Events
        
        <!-- ko using: modules.eventsNode -->
        <partial name="/Views/Components/SelectableNode.cshtml"/>
        <!-- /ko -->

    </div>
    <div class="card-body">
            



        <!-- ko foreach: modules.shortEvents -->
        <div class="event short-event">
            <div>DN: <span data-bind="text: dn"></span></div>
            <div data-bind="text: name, attr: {title: name}"></div>
        </div>
        <!-- /ko -->

    </div>
</div>

<!--
<div class="event long-event">
    <div>Node: 123, Event: 1</div>
    <div>
        Custom name
    </div>
</div>

<div class="event short-event">
    <div>DN: 259</div>
    <div title="Another event with a really long name">
        Another event with a really long name
    </div>
</div>
-->