a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.debug-view {
    font-size: 13px;
    border-left: 1px solid #dee2e6;
}

.debug-view div {
    border-bottom: 1px solid #dee2e6;
    padding-left: 10px;
}

.debug-view pre {
    margin-bottom: 0px;
}

.dropdown-item i.fa {
    margin-left: -1.3rem;
}


div.features {
    color: #dee2e6;
}

div.features .module-feature {
    color: #046b04;
}

div.node {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

div.node div.node-header {
    position: relative;
}

div.node div.features {
    position: absolute;
    top: 15px;
    right: 15px;
}

div.node-header div.node-info {
    display: inline-block;
}

div.node-header div.node-info span:first-child {
    font-variant: small-caps;
    font-size: 11px;
    color: #a0a0a0;
    font-weight: bold;
}

div.config-group {
    margin-top: 10px;
    font-size: 13px;
}

div.config-group h3 {
    font-size: 13px;
}

div.config-group input:invalid {
    border-color: red;
}

span.node-variable-index {
    width: 30px;
    display: inline-block;
}

