<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CBUS Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Actions</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-bind="css: {disabled: status.cbusConnected()}, disable: status.cbusConnected(), click: comms.connect">Connect</a>
                            <a class="dropdown-item" data-bind="css: {disabled: !status.cbusConnected()}, enable: status.cbusConnected(), click: comms.disconnect" href="#">Disconnect</a>
                            <a class="dropdown-item" href="#" data-bind="css: {disabled: status.cbusConnected()}, disable: status.cbusConnected(), click: comms.configure">Configure Comms</a>
                            <a class="dropdown-item" href="#" data-bind="click: status.toggleDebug">
                                <i class="fa fa-check" data-bind="visible: status.showMessages"></i>
                                Show CBUS Messages
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-bind="css: {disabled: !status.cbusConnected()}, enable: status.cbusConnected(), click: api.sendQNN">Query all nodes</a>

                        </div>
                    </li>
                    <li class="nav-item" data-bind="hidden: status.socketConnected">
                        <i class="fa fa-exclamation-triangle"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>